
<div class="col-md-5 offset-md-2">
    <h1 ><%= @user.username %>'s profile</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #fff">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
        <li class="nav-item", style='padding:1px'>
        <%= link_to "Create a new conference", new_conference_path, class:"btn btn-outline-success" %>
        </li>
        <li class="nav-item", style='padding:1px'>
        <%= link_to "Edit account", edit_user_path(@user), class:"btn btn-outline-info" %>
        </li>
        <li class="nav-item", style='padding:1px'>
        <%= link_to "Delete account", user_path(@user),  method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-outline-danger" %>
        </li>
        </ul>
    </div>
    </nav>
    <h3 style="padding: 2%">Your conferences:</h3>
</div>

<% @conferences.each do |conference| %>
    <div class="col-md-8 offset-md-2">
      <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
            Speaker: <%= @user.username %>
            </div>
            <div class="card-body">
            <h5 class="card-title"><%= link_to conference.title, conference_path(conference), class: "text-success" %></h5>
          <p class="card-text">Abstract: <%= truncate( conference.abstract, length: 100) %></p>
          <p class="card-text">Attendees: <%=  conference.attendees %></p>
          <p class="card-text">Room: <%=  conference.room %></p>
          <%= link_to "View", conference_path( conference), class: "btn btn-outline-success" %>
          <%= link_to "Edit", edit_conference_path(conference), class: "btn btn-outline-info" %>
          <%= link_to "Delete", conference_path(conference), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
        </div>
          <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(conference.created_at) %> ago, 
          edited <%= time_ago_in_words(conference.updated_at) %> ago</small>
      </div>
    </div>
  </div>       
      </div>
    </div>

    
  <% end %>
