
<%= form_with(model: conference) do |form| %>
  <% if conference.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(conference.errors.count, "error") %> prohibited this conference from being saved:</h2>

      <ul>
        <% conference.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
  <%= form.collection_select(:user_id, User.all, :id, :username,
              { prompt: "Select conferece speaker:"}, { multiple: false, size: 4, class: "custom-select shadow rounded" }) %>
</div>       
  
<div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :abstract, style: "display: block" %>
    <%= form.text_area :abstract %>
  </div>

  <div>
    <%= form.label :room, style: "display: block" %>
    <%= form.number_field :room %>
  </div>

  <div>
  <%= form.collection_select(:user_ids, User.all, :id, :username,
              { prompt: "Select conferece attendees:"}, { multiple: true, size: 4, class: "custom-select shadow rounded" }) %>
</div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
