

    <div class="col-md-6 offset-md-3" >

  <h2 class="text-center mt-4">Your search results:</h2>
  <div class="container">
<%@results.each do |result| %>
  <div class="card text-center shadow mb-5 bg-white rounded">
  <div class="card-header font-italic">
  Speaker: <%= result.user.username %>
  </div>
      <div class="card-body">
        <h5 class="card-title"><%= link_to result.title, conference_path(result), class: "text-success" %></h5>
      <p class="card-text">Abstract: <%= truncate(result.abstract, length: 100) %></p>
      <p class="card-text">Attendees: <%= result.users.map { |user| user.username}.to_sentence %></p>
      <p class="card-text">Room: <%= result.room %></p>
      <%= link_to "View", conference_path(result), class: "btn btn-outline-success" %>
      <%= link_to "Edit", edit_conference_path(result), class: "btn btn-outline-info" %>
      <%= link_to "Delete", conference_path(result), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
    </div>
      <div class="card-footer text-muted">
      <small>Created <%= time_ago_in_words(result.created_at) %> ago, 
      edited <%= time_ago_in_words(result.updated_at) %> ago</small>
  </div>
</div>
<%= link_to "[Back to conferences]", conferences_path %>
</div>
</div>
<% end %>  
</div>
  
</div>  